@import "tailwindcss";
@plugin "daisyui";



      /* app/globals.css ou dans un module CSS */
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
 /* pour l'animation de la fleche voir tous */
 @keyframes bounce-right {
  0%, 100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(6px);
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-right {
  animation: bounce-right 1s infinite;
}
@keyframes gentle-pulse-left {
  0% {
    transform: translateX(0) scale(1);
  }
  50% {
    transform: translateX(-4px) scale(1.05);
  }
  100% {
    transform: translateX(0) scale(1);
  }
}

@keyframes bounce-left {
  0%, 100% {
    transform: translateX(0);
    animation-timing-function: cubic-bezier(0.8, 0, 1, 1);
  }
  50% {
    transform: translateX(-6px);  /* Négatif pour aller vers la gauche */
    animation-timing-function: cubic-bezier(0, 0, 0.2, 1);
  }
}

.animate-bounce-left {
  animation: bounce-left 1s infinite;
}


/* pour le titre */

@keyframes shine {
  0% {
    transform: translateX(-100%);
  }
  100% {
    transform: translateX(100%);
  }
}

.animate-shine {
  animation: shine 2s infinite;
}